.minus{
    background: none;
    border: 2px dashed red;
    color: black;
    cursor: pointer;
    position: absolute;
    left: -30px;
    bottom: 7px;
    height: 24px;
    width: 24px;
    text-align: center;
}

.minus:hover{
    background-color: red;
}
