
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  width: 1000px;
  margin: 0 auto;
}


.top-table{
  margin: 0 auto;
  padding: 0px;
}
.top-table td, th{
  text-align: center;
  border: 2px solid black;
  margin: 0px;
}
.top-table tr:nth-child(1) th:nth-child(1){
  background-color: burlywood;
}
.top-table tr:nth-child(1) th:nth-child(2){
  background-color: green;
}
.top-table tr:nth-child(1) th:nth-child(3){
  background-color: cadetblue;
}
.top-table tr:nth-child(2) th:nth-child(1){
  background-color: burlywood;
  width: 100px;
}
.top-table tr:nth-child(2) th:nth-child(2), .top-table tr:nth-child(2) th:nth-child(3), .top-table tr:nth-child(2) th:nth-child(4){
  background-color: green;
  width: 100px;
}
.top-table tr:nth-child(2) th:nth-child(5), .top-table tr:nth-child(2) th:nth-child(6){
  background-color: cadetblue;
  width: 100px;
}
.top-table th:last-child{
  width: 100px;
}

.top-date{
  margin: 0 auto;
  text-align: center;
}

.top-date td{
  width: 80px;
  text-align: center;
  border: 2px solid black;
  margin: 0px;
}
.top-date tr:nth-child(1) td{
  min-width: 748px;
  border: none;
  font-weight: bold;
  text-decoration: underline 2px red;
}
.top-date tr:nth-child(n+2) td:nth-child(1){
  background-color: burlywood;
}
.top-date td:nth-child(2), .top-date td:nth-child(3), .top-date td:nth-child(4){
  background-color: green;
}
.top-date td:nth-child(5), .top-date td:nth-child(6){
  background-color: cadetblue;
}
.top-date textarea{
  width: 100%;
  height: 25px;
  background: none;
  border: none;
  padding: 0px;
  resize: none;
  text-align: center;
  font-size: 18px;
  padding-top: 7px;
}

.enter-top-date{
  margin: 0 auto;
  text-align: center;
}
